* {
    box-sizing: border-box;
}

body {
    background: url("../../assets/images/rainbow-crystal-background.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
    font-family: 'Shadows Into Light', cursive;
}

.game_instructions {
    color: white;
    background-color: black;
    border: 5px solid orange;
    opacity: 0.6;
    max-width: 600px;
    text-align: left;
    line-height: 30px;
    padding: 10px;
    margin: auto;
}

.game_section {
    color: black;
    
}

.goalNumber {
    color: black;
    height: 50px;
}

#goal_number {
    padding: top 20px;
    top: 20px;

}

.crystals {
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    margin: auto;
    left: 200px;
    

}

img {
    background-color: black;
    opacity: 0.6;
    border: 5px solid orange;
    height: 150px;
    width: 150px;
    margin: auto;
    
}
